/**

    产品样式

*/
html,body{
  margin:0;
  background:#00A6FF;
  font-size:15px !important;
}
.bg{
    background:#00A6FF;
    width:100%;
    height: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_active{
    border-radius: 15px;
    width:15px;
    height:15px;
    background: white;
}
.circle{
  border-radius: 15px;
  width:15px;
  height:15px;
  background: rgb(221,221,221);
}
.line_active{
  height:5px;
  background:white;
  width:20px;
}
.line{
    height:5px;
    background:rgb(221,221,221);
    width:20px;
}
.content{
    background:white;
    height:70%;
    width:90%;
    border-radius: 5px;
}
.contentFlex{
  display: flex !important;
  justify-content: center !important;;
  align-items: center !important;;
  background:white;
  height:70%;
  width:90%;
  margin-left: 5%;
  border-radius: 5px;
}
.full-width{
    width:100%;
}
.full-height{
  height:100% !important;
}
.fix{
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.left-btn{
    flex:1;
    height:40px;
    background:#48BEFF;
    border:none;
    color:white;
}
.right-btn{
    flex:2;
    height:40px;
    background:#00479A;
    border:none;
    color:white;
}
.margin10{
  margin:10px;
}
.resultImg{
  background-image: url("../img/duobianxing.png");
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  height:70%;
}

.theme-color{
  color:#00A6FF;
}
.small-font{
  font-size:13px;
}
.padding-top-5{
  padding-top: 5px;
}
.huise{
  color:rgb(136,136,136);
}
.xuhao{
  width:15px;
  height:15px;
  background: #00A6FF;
  border-radius: 15px;
  line-height: 15px;
  text-align: center;
}
.white-color{
  color:white;
}
.margin-left10{
  margin-left: 10px;
}
.margin-left-1em{
  margin-left: 10px;
}
.margin-top-1em{
  margin-top: 10px;
}
.VelocityTransitionGroup-flex{
  display:flex !important;
  justify-content: center !important;
  align-items: center !important;
  width:100%;
  height:100%;
}
.selectStyle{
  width:100px;
  height:40px;
}
.select-span{
  height:30px;
  line-height: 30px;
  margin-right: 10px;
}
